---
import Header from '../components/Header.astro'
import WorkExperience from '../components/WorkExperience.astro'
import Layout from '../layouts/Layout.astro'
import Sheet from '../components/Sheet.astro'
import About from '../components/About.astro'
import Summary from '../components/Summary.astro'
import Footer from '../components/Footer.astro'
---

<Layout>
	<Sheet>
		<article class="flex flex-col gap-4 group/sheet">
			<Header />

			<section class="flex flex-row gap-4">
				<aside class="max-w-[200px] w-full pl-2 mt-6">
					<About />
				</aside>
				<main class="flex flex-col gap-4 w-full">
					<Summary />
					<WorkExperience />
				</main>
			</section>
		</article>

		<Footer />
	</Sheet>
</Layout>
