<div class="absolute bottom-0 w-full text-xs text-gray-400 text-center py-4">
    <div class="print:hidden">This CV is fully interactive and custom-built with Astro, Tailwind CSS, and TypeScript.</div>
    <div class="hidden print:block">
        Find an interactive version at <a class="text-gray-600" href="https://cv.splitty.me">cv.splitty.me</a>
    </div>
</div>