<p class="relative flex flex-col text-gray-700 gap-2">
    <span>
        Software generalist with a strong passion for Blockchain and fintech.
    </span>
    <span>
        I'm a creative person and an early adopter of Rust, who likes challenging the status quo and enjoys life on the bleeding edge.
    </span>
</p>
